.team{
	/* make a square container */
    width: 25%;
    height: 25%;
	float: right;
	padding: 20px 0 0 20px;
	}

.supporter{
	/* make a square container */
    width: 25%;
    height: 25%;
    float: left;
	}
	
.logo{
	/* make a square container */
    width: 20%;
    height: 20%;
	float: left;
	}
	
.bio{
	color: #000000;
	text-align: justify;
	font-size: 95%;
	}
	
	
.collaborators{
	margin: 0;
	padding: 10px;
}
